
.lyricsLine {
    line-height: 1.5;
    padding: .5em 0;
    opacity: .8;
}

.lyricsLineOld {
    color: var(--tertiary);
    font-weight: bold;
    opacity: 1;
}

.lyricsLineActive {
    color: var(--primary);
}