
.albumStats {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .controls {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;

        a {
            cursor: pointer;
            color: var(--accent-3);
            
            &:hover {
                text-decoration: underline;
                // color: var(--accent-4);
            }
        }
        .trSelector {
            opacity: .5;
            &::before {
                margin-right: .1em;
                content: '◻';
            }
        }
        .trActive {
            color: var(--secondary);
            opacity: 1;
            &::before {
                content: '◼';
            }
        }

        span {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
    }

    .lst {
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;
    }
}