
.chart {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 10px;
    // width: 46rem;
    bottom: 10px;
    border: 1px solid whitesmoke;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    .controls {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        & > label {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 8px;
        }

        input[type="number"] {
            border: 1px solid gray;
            max-width: 4em;
            padding: 8px 2px 8px 8px;
        }
    }
}