
.chart {
    position: fixed;
    top: 50px;
    left: 50px;
    // right: 10px;
    width: 46rem;
    bottom: 10px;
    border: 1px solid whitesmoke;
    background-color: rgba(0,0,0,0.7);
    z-index: 1000;
}