
// let colors = ['#57737a', '#85bdbf', '#c2fcf7', '#d9fdff', '#e9feff']

.playing {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1em;
}

.progressBar {
    width: 20rem;
    height: 5px;
    background-color: #57737a;
    border-radius: 5px;
    overflow: hidden;

    & > div {
        height: 100%;
        width: 50%;
        background-color: #c2fcf7;
    }
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}