
// let colors = ['#57737a', '#85bdbf', '#c2fcf7', '#d9fdff', '#e9feff']

.playing {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 1em;
}

.progressBar {
    width: 20rem;
    height: 5px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    overflow: hidden;

    & > div {
        height: 100%;
        width: 50%;
        background-color: var(--primary);
    }
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--tertiary);
}