
.chart {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    .controls {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 16px;

        & > label {
            display: flex;
            flex-direction: row;
            align-items: baseline;
            gap: 8px;
        }

        input[type="number"] {
            border: 1px solid gray;
            max-width: 4em;
            padding: 8px 2px 8px 8px;
        }
    }

    .periodControl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .movs {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        & > div:last-child {
            text-align: right;
        }
    }
}