
.artistStats {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .controls {
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding: 10px 0;

        a {
            cursor: pointer;
            color: var(--accent-3);
            text-decoration: underline;
            &:hover {
                color: var(--accent-4);
            }
        }

        span {
            display: flex;
            flex-direction: row;
            gap: 5px;
        }
    }
}