:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  --background-color: #f6f6f6;
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --table-row-hover-bg: #ecc30b;
  --accent-1: #57737a;
  --accent-2: #85bdbf;
  --accent-3: #c2fcf7;
  --accent-4: #d9fdff;
  --accent-5: #e9feff;

  --primary: #ECC30B; /* bright amber */
  --secondary: #FF6F61; /* bright coral: maybe too bright? */
  --tertiary: #7FAEB5; /* teal/gray */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0;
  display: grid;
  grid-template-areas: 'stats playing'
                       'stats lyrics';
  grid-template-columns: minmax(10rem, max-content) minmax(1fr, max-content);
  grid-template-rows: max-content 1fr;
  gap: 2em;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  h1 {
    margin-bottom: .5em;
  }

  & > div {
    padding: 1em;
  }

  .playing-info {
    grid-area: playing;
    overflow: auto;
  }

  .stats-section {
    grid-area: stats;
    overflow: auto;

    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 5px;
  }
  .lyrics-section {
    grid-area: lyrics;
    overflow: auto;
  }
}

.toggle-graph-button {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  color: var(--primary);
  border-radius: 0;
  border-bottom-left-radius: 1rem;
  border: 1px solid var(--primary);
  border-top: none;
  border-right: none;
  background-color: var(--background-color);
}
.toggle-graph-button:hover {
  color: var(--secondary);
  border-color: var(--secondary);
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

input,
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  background-color: #ffffff;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
}

button:hover {
  border-color: #396cd8;
}
button:active {
  border-color: #396cd8;
  background-color: #e8e8e8;
}

input,
button {
  outline: none;
}

.stats-type-selector {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.stats-type-selector a {
  color: var(--tertiary);
  cursor: pointer;
}
.stats-type-selector a.active {
  color: var(--secondary);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #f6f6f6;
    --background-color: #2f2f2f;
  }

  a:hover {
    color: #24c8db;
  }

  input,
  button {
    color: #ffffff;
    background-color: #0f0f0f98;
  }
  button:active {
    background-color: #0f0f0f69;
  }
}

table tr {
  text-align: left;
}