
.stack {
    display: flex;
    flex-direction: column;
    height: 14rem;

    div {
        display: flex;
        flex-direction: row;
        align-items: center;

        div {
            flex: 0 0 2rem;
            height: 100%;
        }
        & > span {
            white-space: nowrap;
            margin-left: 1em;
            height: 0;
            display: inline-block;
            span { transform: translateY(-50%); display: inline-block; }
        }
    }
}